body {
  padding-top: 75px;
}
/* *{
    outline: 1px solid red;
  } 檢查框架*/
.fixedtop {
  font-family: Arial, Helvetica, sans-serif;
  background-color:white;
  position: fixed;
  z-index: 10;
  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toplogo {
  margin:0px 30px; 
}
.toplogo img {
  height: 15px;
  width: 43px;
}

.navlink {
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  box-sizing: border-box;
}
.navlink a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: inline-block;
  line-height: 30px;
  border-bottom: 4px solid transparent;
  margin: 0px 40px;
}
.navlink .active{
    border-bottom-color: #000;
}


.topicons {
  font-size: 14px;
  color:black;
  font-weight: bolder;
  text-align: right;
  box-sizing: border-box;
  margin: 0px 30px;
  padding-left: 10px;
}
.topicons a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.topicons i{
  font-size: 20px;
}

.banner{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 微軟正黑體;
  color: white;
  font-weight: bolder;
  position: relative;
}
.bannertxt{
  position: absolute;
  top: 40%;
  left: 10%;
  text-align: left;
}
.bannertxt h2
{
  font-size: 140px;
  margin-bottom: 20px;
}
.bannertxt h3{
  font-size: 40px;
  padding-left: 10px;
}
.bannerimg{
  margin-bottom: 40px;
  transition: 1s;
}
.bannerimg img {
  width: 100%;
  /* animation: toppicchange 5s infinite alternate; */
}
.bannerimg img:hover{
  content: url("img/toppicchange01.jpg");
}
/* @keyframes toppicchange {
  0%{background-image: url("img/toppicchange01.jpg");}
  100%{background-image: url("img/toppicchange02.jpg");}
} */

.title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-weight: bold;
}

.title h2{
  font-size: 70px;
}

.title p{
  font-size: 20px;
  margin: 25px 0px 90px;
  color: gray;
}

.LineLifeGroup{
  width: 100%;
  margin: auto;
  position: relative;
}
.LifeContainer{
  width: 90%;
  margin: auto;
  display: flex;
}
.LifeContainer::before{
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: white;
  left: 49.7%;
}
.LifeContainer:last-child::after{
  content: " ";
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: white;
  left: 49.47%;
  bottom: -0.2%;
}
.LineLifeGroup .LifeContainer:nth-child(even){
  flex-direction: row-reverse;
}
.LifeContainer .LifeDetails{
  
  box-sizing: border-box;
}

.LifeContainer:nth-child(odd) .LifeDetails{
  border-right:1px dotted rebeccapurple ;
  padding:10% 4% 10% 10%;
}
.LifeContainer:nth-child(odd) .LifePic{
  padding:10% 0% 10%;
}

.LifeContainer:nth-child(even) .LifeDetails{
  border-left:1px dotted rebeccapurple ;
  padding:32% 4% 25% 10%;

}
.LifeContainer:nth-child(even) .LifePic{
  padding:20% 0% 10%;
}

.LifePic{
  width: 50%;
}
.LifePic img{
  width: 100%;
}
.LifeDetails {
  width: 50%;
}
.LifeDetails .LifeIcon{
  width: 36px;
  height: 36px;
  display: inline-block;
}
.LifeDetails .LifeTxt{
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bolder;
  font-family: 微軟正黑體;
  font-size: 14px;
}
.LifeDetails h3{
  font-size: 35px;
  margin-bottom: 15px;
}
.LifeDetails h4{
  font-size: 20px;
  color: rgb(77, 189, 77);
  margin-bottom: 15px;
}
.LifeDetails p{
  font-size: 16px;
  color: rgb(158, 161, 158);
  margin-bottom: 35px;
  line-height: 25px;
}
.LifeTxt .LifeMoreInfo{
  color: rgb(75, 74, 74);
  border: 1px solid rgb(212, 210, 210);
  width: 150px;
  height: 45px;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.LifeTxt .LifeMoreInfo:hover {
  background-color: rgb(77, 189, 77);
  border-color: rgb(77, 189, 77);
}
.LifeTxt .LifeMoreInfo:hover a {
  color: white;
}

.communicationsoftware{
  background-color:#F7f8f9;
  padding: 180px 0px;
}
.container{
  width: 1080px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px auto;
  
}
.function{
  text-align: center;
  width: 360px;
  height: 370;
  line-height: 24px;
  margin-bottom:36px ;
}
.function img{
  width: 320px;
  height: 240px;
}
.function h3{
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin: 36px 20px 12px;
}
.function p{
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.enterpriseservice{
  width: 100%;
  height: 320px;
  display: flex; 
  justify-content: center;
  align-items: center;
}
.enterpriseservice img{
  height: 100%;
  width: 100%;
  opacity: 0.8;
}
.enterpriseservice h2{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:white;
  font-size: 46px;
  font-weight: bolder;
  position: absolute;
  z-index: 1;
}
.Allproducts{
  background-color:rgb(240, 239, 239);
  padding: 180px 0px;
}
.productsection
{
  display: flex;
  justify-content: center;
}
.productselect{
  width: 300px;
  height: 572px;
  box-sizing: border-box;
  padding-left: 70px;
  margin-top: 70px;
  position: sticky;
  top: 200px;
}

.productselect button{
  background-color: rgb(255, 255, 255);
  color: gray;
  font-size: 14px;
  font-weight: bolder;
  border: 1px solid rgb(129, 128, 128);
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  padding: 8px 10px;
  margin: 0px 0px 12px;
}
.productselect .clicked{
  color: white;
  background-color: rgb(77, 189, 77);
}
.productcontainer{
  font-family: Arial, Helvetica, sans-serif;
  width: 940px;
  background-color:white;
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  justify-content: space-evenly;
}
.product{
  width: 250px;
  height: 330px;
  margin: 30px;
  text-align: left;
  line-height: 24px;
  background-color: white;
  box-shadow: 3px 3px 3px 3px rgb(202, 202, 202);
  box-sizing: border-box;
  position: relative;
  padding: 40px;
}
.txt{
  display: flex;
  flex-direction: column;
  height: 190px;
}
.product img{
  width: 70px;
  height: 70px;
  border-radius: 15px;
}
.product h3{
  font-size: 24px;
  font-weight: bolder;
  margin: 10px 0px;
}
.product p{
  font-size: 14px;
  flex-grow: 1;
  /* 文字佔剩下的部分 讓下面的漢堡icon貼底 */
}
.product i{
  color: rgb(199, 199, 199);
}

.darkpage {
  position: absolute;
  /* 絕對定位 以父層product為基準點*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0%;
  transition: .5s;
}

.product:hover .darkpage {
  opacity: 75%;
}

.moreinfo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.moreinfo a {
  display: none;
  text-decoration: none;
}

.moreinfo:hover a {
  font-size: 14px;
  border: 1px solid rgb(212, 210, 210);
  width: 150px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 10px auto;
}

.moreinfo a:hover {
  background-color: rgb(77, 189, 77);
  border-color: rgb(77, 189, 77);
}

.moreinfo a:hover .fa-apple {
  display: none;
}

.moreinfo a:hover .fa-google-play {
  display: none;
}
.moreinfo a:hover .fa-download {
  display: inline;
}
.moreinfo .fa-download {
  display: none;
}
.moreinfo i {
  color: white;
  margin: 6px;
  width: 10px;
}
.footerTop {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
  color: black;
  
}
.footerDownload {
  font-size: 14px;
  display: flex;
  align-items: center;
  height: 100px;
  position: relative;
  padding-left: 60px;
}

.footerDownload img {
  height: 40px;
  border-radius: 15%;
  margin-right: 10px;
}

.footerDownload a {
  margin: 0px 8px;
}


.QRcode {
  position: absolute;
  top: -50px;
  right: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.QRcode img {
  width: 90px;
  height: 90px;
  border-radius: 5%;
  margin-bottom: 10px;
}

.footerBottom {
  font-size: 12px;
  display: flex;
  align-items: center;
  height: 100px;
  position: relative;
  padding-left: 60px;
}

.footerCorporation {
  flex-grow: 1;
}

.footerProblems {
  display: flex;
  flex-grow: 10;
}

.footerFamilySite {
  flex-grow: 3;
}

.footerFBYT{
  flex-grow: 1.5;
}

.footerBottom a {
  padding: 0 10px;
}

hr{
  width: 90%;
  align-items: center;
  color: rgb(226, 219, 219);
  opacity: 0.4;
}